# Pandas Series
## Creating a Pandas Series
**Creating a series from array**

In [15]:
# import pandas as pd
import pandas as pd
 
# import numpy as np
import numpy as np
 
# simple array
data = np.array(['g','e','e','k','s'])
 
ser = pd.Series(data)
print(ser)

0    g
1    e
2    e
3    k
4    s
dtype: object

**Creating a series from Lists**

In [16]:
import pandas as pd
 
# a simple list
list = ['g', 'e', 'e', 'k', 's']
  
# create series form a list
ser = pd.Series(list)
print(ser)

0    g
1    e
2    e
3    k
4    s
dtype: object

## Accessing element of Series
**Accessing Element from Series with Position**

In [17]:
# import pandas and numpy 
import pandas as pd
import numpy as np
 
# creating simple array
data = np.array(['g', 'e', 'e', 'k', 's', 'f', 'o', 'r', 'g', 'e', 'e', 'k', 's'])
ser = pd.Series(data)
  
#retrieve the first element
print(ser[:5])

0    g
1    e
2    e
3    k
4    s
dtype: object

**Accessing Element Using Label (index)**

In [18]:
# import pandas and numpy 
import pandas as pd
import numpy as np
 
# creating simple array
data = np.array(['g', 'e', 'e', 'k', 's', 'f', 'o', 'r', 'g', 'e', 'e', 'k', 's'])
ser = pd.Series(data,index=[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22])
  
# accessing a element using index element
print(ser[16])

o

## Indexing and Selecting Data in Series
**Indexing a Series using indexing operator []**

In [19]:
# importing pandas module  
import pandas as pd  
     
# making data frame  
df = pd.read_csv("nba.csv")  
   
ser = pd.Series(df['Name']) 
data = ser.head(10)
data

0    Avery Bradley
1      Jae Crowder
2     John Holland
3      R.J. Hunter
4    Jonas Jerebko
5     Amir Johnson
6    Jordan Mickey
7     Kelly Olynyk
8     Terry Rozier
9     Marcus Smart
Name: Name, dtype: object

**Indexing a Series using .loc[]**

In [20]:
# importing pandas module  
import pandas as pd  
     
# making data frame  
df = pd.read_csv("nba.csv")  
   
ser = pd.Series(df['Name']) 
data = ser.head(10)
data

0    Avery Bradley
1      Jae Crowder
2     John Holland
3      R.J. Hunter
4    Jonas Jerebko
5     Amir Johnson
6    Jordan Mickey
7     Kelly Olynyk
8     Terry Rozier
9     Marcus Smart
Name: Name, dtype: object

**Indexing a Series using .iloc[]**

In [21]:
# importing pandas module  
import pandas as pd  
     
# making data frame  
df = pd.read_csv("nba.csv")  
   
ser = pd.Series(df['Name']) 
data = ser.head(10)
data

0    Avery Bradley
1      Jae Crowder
2     John Holland
3      R.J. Hunter
4    Jonas Jerebko
5     Amir Johnson
6    Jordan Mickey
7     Kelly Olynyk
8     Terry Rozier
9     Marcus Smart
Name: Name, dtype: object

## Binary Operation on Series
**Example #1**

In [22]:
# importing pandas module  
import pandas as pd  
 
# creating a series
data = pd.Series([5, 2, 3,7], index=['a', 'b', 'c', 'd'])
 
# creating a series
data1 = pd.Series([1, 6, 4, 9], index=['a', 'b', 'd', 'e'])
 
print(data, "\n\n", data1)

a    5
b    2
c    3
d    7
dtype: int64

 a    1
b    6
d    4
e    9
dtype: int64

**Example #2**

In [23]:
# importing pandas module  
import pandas as pd  
 
# creating a series
data = pd.Series([5, 2, 3,7], index=['a', 'b', 'c', 'd'])
 
# creating a series
data1 = pd.Series([1, 6, 4, 9], index=['a', 'b', 'd', 'e'])
 
print(data, "\n\n", data1)

a    5
b    2
c    3
d    7
dtype: int64

 a    1
b    6
d    4
e    9
dtype: int64

## Conversion Operation on Series
**Example #1**

In [24]:
# importing pandas module  
import pandas as pd 
   
# reading csv file from url  
data = pd.read_csv("nba.csv") 
    
# dropping null value columns to avoid errors 
data.dropna(inplace = True) 
   
# storing dtype before converting 
before = data.dtypes 
   
# converting dtypes using astype 
data["Salary"]= data["Salary"].astype(int) 
data["Number"]= data["Number"].astype(str) 
   
# storing dtype after converting 
after = data.dtypes 
   
# printing to compare 
print("BEFORE CONVERSION\n", before, "\n") 
print("AFTER CONVERSION\n", after, "\n")

BEFORE CONVERSION
 Name         object
Team         object
Number      float64
Position     object
Age         float64
Height       object
Weight      float64
College      object
Salary      float64
dtype: object

AFTER CONVERSION
 Name         object
Team         object
Number       object
Position     object
Age         float64
Height       object
Weight      float64
College      object
Salary        int64
dtype: object

**Example #2**

In [25]:
# importing pandas module  
import pandas as pd  
   
# importing regex module 
import re 
     
# making data frame  
data = pd.read_csv("nba.csv")  
     
# removing null values to avoid errors  
data.dropna(inplace = True)  
   
# storing dtype before operation 
dtype_before = type(data["Salary"]) 
   
# converting to list 
salary_list = data["Salary"].tolist() 
   
# storing dtype after operation 
dtype_after = type(salary_list) 
   
# printing dtype 
print("Data type before converting = {}\nData type after converting = {}"
      .format(dtype_before, dtype_after)) 
   
# displaying list 
salary_list

Data type before converting = <class 'pandas.core.series.Series'>
Data type after converting = <class 'list'>

[7730337.0,
 6796117.0,
 1148640.0,
 1170960.0,
 2165160.0,
 1824360.0,
 3431040.0,
 2569260.0,
 6912869.0,
 3425510.0,
 1749840.0,
 2616975.0,
 845059.0,
 1500000.0,
 1335480.0,
 6300000.0,
 134215.0,
 1500000.0,
 19689000.0,
 1140240.0,
 947276.0,
 981348.0,
 947276.0,
 947276.0,
 11235955.0,
 8000000.0,
 1635476.0,
 22875000.0,
 845059.0,
 845059.0,
 1572360.0,
 12650000.0,
 3750000.0,
 1636842.0,
 4000000.0,
 167406.0,
 947276.0,
 1000000.0,
 4626960.0,
 845059.0,
 1074169.0,
 6500000.0,
 2144772.0,
 525093.0,
 3457800.0,
 4582680.0,
 947276.0,
 2869440.0,
 947276.0,
 525093.0,
 13600000.0,
 10050000.0,
 2500000.0,
 7000000.0,
 12000000.0,
 6268675.0,
 650000.0,
 3553917.0,
 245177.0,
 1509360.0,
 3873398.0,
 13800000.0,
 947276.0,
 11370786.0,
 2008748.0,
 14260870.0,
 11710456.0,
 1131960.0,
 845059.0,
 1270964.0,
 3815000.0,
 15501000.0,
 1100602.0,
 111444.0,
 5675000.0,
 525093.0,
 9650000.0,
 18907726.0,
 1100602.0,
 19689000.0,
 947276.0,
 21468695.0,
 3376000.0,
 7085000.0,
 3110796.0,
 1159680.0,
 3000000.0,
 845059.0,
 700000.0,
 845059.0,
 15592217.0,
 1724250.0,
 1155600.0,
 3132240.0,
 5103120.0,
 981348.0,
 947276.0,
 5219169.0,
 13500000.0,
 2127840.0,
 206192.0,
 1160160.0,
 981348.0,
 13500000.0,
 3807120.0,
 1035000.0,
 55722.0,
 947276.0,
 5500000.0,
 2041080.0,
 83397.0,
 981348.0,
 1015421.0,
 1449187.0,
 3398280.0,
 5013559.0,
 15851950.0,
 947276.0,
 525093.0,
 12403101.0,
 7700000.0,
 3156600.0,
 845059.0,
 9500000.0,
 845059.0,
 2250000.0,
 16407500.0,
 4500000.0,
 8500000.0,
 947276.0,
 2380440.0,
 1015421.0,
 13400000.0,
 1391160.0,
 20093064.0,
 1535880.0,
 1147276.0,
 8193029.0,
 16407501.0,
 947276.0,
 947276.0,
 1276000.0,
 19689000.0,
 111196.0,
 8988765.0,
 14260870.0,
 2100000.0,
 2500000.0,
 6500000.0,
 2170465.0,
 111444.0,
 1252440.0,
 2891760.0,
 845059.0,
 3272091.0,
 16000000.0,
 600000.0,
 13913044.0,
 2841960.0,
 6270000.0,
 5000000.0,
 3000000.0,
 4050000.0,
 1007026.0,
 17120106.0,
 8000000.0,
 4000000.0,
 1358880.0,
 211744.0,
 1100000.0,
 7000000.0,
 2357760.0,
 845059.0,
 1007026.0,
 3000000.0,
 2399040.0,
 947276.0,
 1662360.0,
 2943221.0,
 8000000.0,
 14700000.0,
 16407500.0,
 295327.0,
 845059.0,
 5152440.0,
 2109294.0,
 6600000.0,
 1733040.0,
 1449000.0,
 4290000.0,
 1100602.0,
 3950313.0,
 4053446.0,
 2085671.0,
 16407500.0,
 1270964.0,
 15361500.0,
 845059.0,
 947276.0,
 5378974.0,
 8193030.0,
 306527.0,
 6486486.0,
 8229375.0,
 1646400.0,
 200600.0,
 15756438.0,
 1000000.0,
 2489530.0,
 3189794.0,
 947276.0,
 1404600.0,
 5158539.0,
 5000000.0,
 3542500.0,
 4088019.0,
 9588426.0,
 700902.0,
 845059.0,
 1201440.0,
 1230840.0,
 9638555.0,
 9000000.0,
 5464000.0,
 8500000.0,
 1100602.0,
 3036927.0,
 2850000.0,
 7070730.0,
 169883.0,
 1164858.0,
 845059.0,
 10734586.0,
 845059.0,
 1320000.0,
 15514031.0,
 1015421.0,
 10595507.0,
 55722.0,
 3382023.0,
 19689000.0,
 1142880.0,
 947276.0,
 5250000.0,
 10000000.0,
 16407500.0,
 200600.0,
 250750.0,
 3578947.0,
 525093.0,
 1499187.0,
 2000000.0,
 1304520.0,
 2854940.0,
 12000000.0,
 1000000.0,
 5746479.0,
 18671659.0,
 947276.0,
 525093.0,
 3333333.0,
 8000000.0,
 947276.0,
 189455.0,
 947276.0,
 525093.0,
 6110034.0,
 2612520.0,
 6331404.0,
 3034356.0,
 5675000.0,
 2139000.0,
 12000000.0,
 7000000.0,
 4204200.0,
 22192730.0,
 10151612.0,
 2854940.0,
 261894.0,
 845059.0,
 5543725.0,
 525093.0,
 20000000.0,
 981348.0,
 2481720.0,
 947276.0,
 4171680.0,
 845059.0,
 1294440.0,
 2380593.0,
 5192520.0,
 2505720.0,
 4300000.0,
 11250000.0,
 5000000.0,
 4000000.0,
 5694674.0,
 4375000.0,
 561716.0,
 3300000.0,
 273038.0,
 8000000.0,
 1920240.0,
 4662960.0,
 2170465.0,
 1100602.0,
 200600.0,
 15851950.0,
 2814000.0,
 3000000.0,
 3533333.0,
 10449438.0,
 11235955.0,
 1584480.0,
 947276.0,
 4345000.0,
 258489.0,
 1474440.0,
 1282080.0,
 2148360.0,
 2056920.0,
 1938840.0,
 947276.0,
 5703600.0,
 5758680.0,
 2279040.0,
 3750000.0,
 20158622.0,
 3135000.0,
 1140240.0,
 16407500.0,
 1463040.0,
 222888.0,
 3344000.0,
 2021520.0,
 1210800.0,
 4500000.0,
 5138430.0,
 16744218.0,
 525093.0,
 8042895.0,
 625093.0,
 947276.0,
 6980802.0,
 2894059.0,
 6000000.0,
 5016000.0,
 3075880.0,
 4236287.0,
 2525160.0,
 525093.0,
 1415520.0,
 2854940.0,
 2637720.0,
 4775000.0,
 2658240.0,
 9463484.0,
 12000000.0,
 15409570.0,
 1348440.0,
 981348.0,
 2239800.0,
 2433333.0,
 947276.0]

**The data which is being used in the above examples are stored in two fies:**
* nba.csv
* pokemon.csv<br>

**However, you can choose data as per your choice**

## Again you can change the code and play with it as much as you want !!!